{deps, [
  {cowboy, "2.9.0"},
  {jsx, "3.1.0"}
]}.

{relx, [
  {release, {webserver, "0.5.0"}, [webserver, cowboy, jsx]},
  {mode, prod},
  {include_erts, true},
  {extended_start_script, true},
  {sys_config, "webserver.config"}
]}.

{profiles, [
  {prod, [{relx, [{dev_mode, false},
                  {include_erts, true}]}
  ]}
]}.

{erl_opts, [debug_info]}.
